@font-face {
    font-family: "'Playfair Display'";
    src: url('../assets/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

/* ---- Variables ----*/
:root {
    --color-gris: #F6F6F6;
    --color-main: #0544A4;

    --color-text: #1B1B1B;
	--font-text: 'Playfair Display';
}

/* ---- Estilos iniciales ---- */
html {
	font-size: 62.5%; /*1rem = 10px*/
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit; /*hereda el box-sizing*/
}
body {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    background-color: #fff;
    color: var(--color-text);
	line-height: 1.5;
}
h1, h2, h3{
	font-weight: 700;
}

h4, h5, h6{
	font-weight: 500;
}
img{
	display: block; /*para q abarque todo*/
	width: 100%;
}
a {
	text-decoration: none; /*quita el subraya al enlace*/
	/* color: var(--color-900); */
	font-weight: 500;
}
/* ---- UTILIDADES -----*/
[class$="__container"] { /*aplica los styles a las clases q terminan en __container*/
	width: 100%;
	max-width: 120rem; /*ancho maximo*/
	padding: 0 2.4rem;
	margin: 0 auto; /*centra*/
}

[class$="__title"] {
	text-align: center;
	color: var(--color-main);    
    line-height: 1.25;
    font-size: 3.5rem;
    font-weight: 400;    
    font-family: var(--font-text);
	margin: 0;
}

[class$="__btn"] {
	background-color: var(--color-main);
    font-size: 1.8rem;
    border: 0;
    border-radius: 4.8rem;
    padding: 0.8rem 4rem;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    min-height: 5.6rem;
}