.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header__container {
    background-color: rgba(5, 68, 164, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.4rem;
    position: relative;
}

.header__logo-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
}

.header__logo {
    background-color: #fff;
    width: 11.9rem; 
    height: 8rem;
    display: flex;
    padding: 0.8rem;
    align-items: center;    
}
/* menu de navegacion */
.nav[popover] {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
	top: 0rem;    
    border: none;
    padding-top: 5.6rem;
}

.nav__list {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 3.2rem 2.4rem 0 2.4rem;
    margin: 0 auto;
}

.nav__item {
    list-style: none;
    padding: 1.2rem 2.4rem;
    border-bottom: solid 0.1rem rgba(59, 59, 59, 0.5);
}

.nav__item .nav__link {
    color: #fff;
    font-size: 2.8rem;
    font-weight: 400;
}

.nav__item .nav__link span{
    font-weight: 700;
}

.nav__item .nav__link:hover {
    color: rgb(144, 167, 254);
}

.nav__menu {
    border: none;
    background-color: unset;    
    width: 4rem;
    height: 4rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__icono {
    background: none;
    color: #fff;
    font-weight: normal;
    font-size: 3rem;
}
/* bienvenida */
.bienvenida__fondo {
    position: absolute;   
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    z-index: -1; /*posiciona la img en la parte inferior*/
}

.bienvenida {
    position: relative;
    height: 48.8rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4rem;
}
.bienvenida__container {
    max-width: 100%;
    padding: 0 2.4rem;
}

.bienvenida__contenido {
    margin: 7.2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bienvenida__contenido span {
    background-color: #fff;
    padding: 3rem;
    border-radius: 50%;
    height: 28rem;
    width: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bienvenida__title {
   white-space: pre-line;
   margin-bottom: 0.8rem;
}

.bienvenida__btn {
    padding: 0.4rem 2.4rem;
    margin-top: 2.4rem;
    font-size: 1.5rem;
    min-height: 4rem;
}

.bienvenida__btn:hover {
    background-color: rgb(9, 90, 212);
}

/* mision */
.mision {
    margin-bottom: 7rem;
}

.mision__img {
    margin-bottom: 3rem;
}

.mision__title2 {
    font-size: 2.8rem;
    line-height: 1.25;
    font-weight: 400;
    margin: 0 0 1.2rem 0;
    text-align: center;
}

.mision__text {
    color: rgb(94, 94, 94);
    margin: 0;
    text-align: center;
}

/*formulario*/

.formulario {
    padding: 4rem 0;
    background-color: #f6f6f6;  
}

.formulario__container {      
    display: flex;
    flex-direction: column;
}

.formulario__title {
    margin-bottom: 1.2rem;
}

.formulario__inputs {
    display: flex;
    flex-direction: column;
    position: relative;
}

.formulario__input {
    margin-bottom: 2.4rem;
    border: solid 0.1rem rgb(218, 218, 218);
    border-radius: 0.4rem;
    padding: 2.3rem 0.8rem 0.7rem 0.8rem;    
}

.formulario__input:focus {   
    border-style: none;
}

.formulario__label {
    position: absolute;
    color: #474747;
    left: 1.1rem;
    top: 25%;
    font-weight: 400;
    transition: 0.15s;
}

.formulario__inputs input[type="email"]:not([value=""]) + label {
    font-size: 1.2rem;
    color: rgb(5, 68, 164);
    border: 1px;
    top: 0.8rem; 
}

.formulario__btn:hover {
    background-color: rgb(9, 90, 212);
}

/*Contacto*/

.contact {
    /* background-color: red; */
    padding: 4rem 0;
    text-align: center;
}

.contact__divider {
    width: 5rem;
    border: 0.1rem solid rgb(226, 226, 226);
    margin-top: 2.4rem;
    margin-bottom: 4rem;
}

.contact__social {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.contact__social-link {    
    border-radius: 50%;  
    cursor: pointer;  
}

.contact__icon {
    font-size: 4rem;
    margin: 0 0.8rem 0.8rem 0.8rem;
}

.contact__social-link--facebook {
    background-color: transparent;
    color: #1877f2;
}

.contact__social-link--instagram {
    background-color: transparent;
    color: #e1306c;
}

