.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header__container {
    background-color: rgba(5, 68, 164, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6.4rem;
    position: relative;
}

.header__logo-link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
}

.header__logo {
    background-color: #fff;
    width: 11.9rem; 
    height: 8rem;
    display: flex;
    padding: 0.8rem;
    align-items: center;    
}
/* menu de navegacion */
.nav[popover] {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
	top: 0rem;    
    border: none;
    padding-top: 5.6rem;
}

.nav__list {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 3.2rem 2.4rem 0 2.4rem;
    margin: 0 auto;
}

.nav__item {
    list-style: none;
    padding: 1.2rem 2.4rem;
    border-bottom: solid 0.1rem rgba(59, 59, 59, 0.5);
}

.nav__item .nav__link {
    color: #fff;
    font-size: 2.8rem;
    font-weight: 400;
}

.nav__item .nav__link span{
    font-weight: 700;
}

.nav__item .nav__link:hover {
    color: rgb(144, 167, 254);
}

.nav__btn {
    border: none;
    background-color: unset;    
    width: 4rem;
    height: 4rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__menu {
    background: none;
    color: #fff;
    font-weight: normal;
    font-size: 3rem;
}
/* bienvenida */
.bienvenida__fondo {
    position: absolute;   
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    z-index: -1; /*posiciona la img en la parte inferior*/
}

.bienvenida {
    position: relative;
    height: 60rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bienvenida__container {
    max-width: 100%;
    padding: 0 2.4rem;
    margin: 0 auto;
}

.bienvenida__contenido {
    margin: 7.2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bienvenida__contenido span {
    background-color: #fff;
    padding: 3rem;
    border-radius: 50%;
    height: 28rem;
    width: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bienvenida__text {
    color: var(--color-main);
    white-space: pre-line;
    line-height: 1.25;
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 0.8rem;
    font-family: var(--font-text);
}

.bienvenida__btn {
    background-color: var(--color-main);
    font-size: 1.5rem;
    border-radius: 4.8rem;
    margin-top: 2.4rem;
    padding: 1rem 2.4rem;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

.bienvenida__btn:hover {
    background-color: rgb(9, 90, 212);
}

/* mision */
